<div class="col-md-12">
  <p class="text-center">
    <%= form_for current_user.stories.new do |f| %>
      <button class="btn btn-success center-block">Create your story</button>
    <%- end -%>
  </p>
</div>
